<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="INCLUDE_LANG" lang="INCLUDE_LANG">
<head>
    INCLUDE_METAINF
</head>
<body>
    INCLUDE_HEADER
    INCLUDE_CONTENT
    INCLUDE_FOOTER
</body>
</html>