BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12pt; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; FONT-FAMILY: Verdana,helvetica,arial; BACKGROUND-COLOR: #ffffff
}
#mainX {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; MARGIN-TOP: 15px; BORDER-LEFT: #000000 1px solid; WIDTH: 775px; BORDER-BOTTOM: #000000 1px solid
}
H2 {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 13px; MARGIN: 5px; BORDER-LEFT: #000000 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #3399cc
}
.main h2 { padding-left: 2px; margin: 0; }
H1 {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 13px; MARGIN: 5px; BORDER-LEFT: #000000 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #000000 1px solid; BACKGROUND-COLOR: #3399cc
}
.main h1 { font-size: 13px; }
H3 {
	DISPLAY: inline; FONT-SIZE: 13px
}
H1 {
	FONT-SIZE: 13px
}
H2.nav {
	LEFT: -5px; POSITION: relative; HEIGHT: 100%; TEXT-ALIGN: center; align: center
}
H4 {
	FONT-SIZE: 17px; COLOR: #000000;
}
.top {
	FLOAT: left; MARGIN: 5px
}
.left {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 5px; LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #000000 1px solid; WIDTH: 180px; PADDING-TOP: 0px; BORDER-BOTTOM: #000000 1px solid; POSITION: relative; HEIGHT: 100%; BACKGROUND-COLOR: #999999
}
.bottom_area {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 12px; LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 5px; MARGIN: 0px; BORDER-LEFT: #000000 1px solid; WIDTH: 753px; COLOR: #ffffff; PADDING-TOP: 5px; BORDER-BOTTOM: #000000 1px solid; POSITION: relative; BACKGROUND-COLOR: #3399cc; TEXT-ALIGN: center
}
.main {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 0px; LEFT: -4px; FLOAT: right; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #000000 1px solid; WIDTH: 570px; PADDING-TOP: 0px; BORDER-BOTTOM: #000000 1px solid; POSITION: relative; TOP: 0px; BACKGROUND-COLOR: #d2d2d2
}
#text {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 13px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
DIV#Menu A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #000000; FONT-FAMILY: Verdana
}
DIV#Menu A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #000000; FONT-FAMILY: Verdana
}
DIV#Menu2 A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana
}
DIV#Menu2 A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana
}
#Menu A:link {
	COLOR: black; TEXT-DECORATION: none
}
#Menu A:active {
	COLOR: black; TEXT-DECORATION: none
}
#Menu A:visited {
	COLOR: black; TEXT-DECORATION: none
}
#Menu A:hover {
	COLOR: white; TEXT-DECORATION: underline
}
#Menu2 A:link {
	COLOR: black; TEXT-DECORATION: none
}
#Menu2 A:active {
	COLOR: black; TEXT-DECORATION: none
}
#Menu2 A:visited {
	COLOR: black; TEXT-DECORATION: none
}
#Menu2 A:hover {
	COLOR: white; TEXT-DECORATION: underline
}
.bottom {
	CLEAR: both; MARGIN-TOP: 10px
}
#copyright A:link {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: white; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
#copyright A:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: white; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
#copyright A:active {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: white; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
#copyright A:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: white; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A:link {
	COLOR: #000099; FONT-FAMILY: verdana; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #000099; FONT-FAMILY: verdana; TEXT-DECORATION: underline
}
A:active {
	COLOR: #ff0000; FONT-FAMILY: verdana; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #ff0000; FONT-FAMILY: verdana; TEXT-DECORATION: underline
}
a img { border: 0; }

div.row {
clear: both;
padding-top: 10px;
}

div.row span.label {
float: left;
width: 100px;
text-align: right;
}

div.row span.formw {
float: right;
width: 200px;
text-align: left;
}


div.row span.left {
	float: left;
	text-align: left;
	font-weight: bold;
	color: #000;
	width: 49%;
	}

div.row span.right {
	float: right;
	text-align: right;
	font-weight: bold;
	color: #000;
	width: 49%;
	}
